.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #1e307e;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
  transition: all 0.3s ease-in-out;

  &.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  &:hover {
    background-color: #071035;
  }
}
